@font-face {
    font-family: courgette;
    src: url(../font/SinkinSans-500MediumItalic.otf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    font-size: 15px;
    font-family: courgette;
    margin: 0;
    height: 100%;
}

/*INDEX*/

.padre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cargando {
    width: 800px;
    height: 800px;
}

#title-cargando {
    margin: 0;
    position: absolute;
    bottom: 100px;
    color: rgb(13, 18, 83);
    font-size: 2em;
    padding: 1em 0 1em 2.5em;
    font-weight: bold;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #cargando {
        width: 1000px;
        height: 1000px;
    }
    #title-cargando {
        position: absolute;
        bottom: 170px;
        color: red;
        font-size: 2em;
        padding: 1em 0 0 1.2em;
        font-weight: bold;
        text-align: center;
    }
}

/*INICIO*/

nivel {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-nivel {
    color: #FFF;
    padding: 1.5em;
    margin-bottom: 2em;
    background-color: rgba(3, 3, 3, .8);
}

img {
    width: 80%;
    height: 80%;
    border-radius: 54px;
    margin: 0 auto;
}

.img-opcion {
    text-align: center;
}

.opcion {
    color: #000;
    font-size: 2em;
}

.efecto img {
    transition: all 0.2s ease-in-out;
}

.mascara {
    position: relative;
    top: -54px;
    opacity: 0;
    background-color: rgba(46, 157, 120, 0.7);
    transition: all 0.4s easy-in-out;
    margin: 0 auto;
    border-radius: 0px 0px 54px 54px;
    width: 88%;
    /*height: 88%;*/
    color: #FFF;
}

.efecto h2 {
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.efecto p {
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}

/*Zoom*/

.efecto:hover img {
    transform: scale(1.1);
}

.efecto:hover h2,
.efecto:hover p,
.efecto:hover .mascara {
    opacity: 1;
    transform: translateX(0px);
}

.efecto:hover p {
    transition-delay: 0.1s;
}

/*PAGINAS JUEGO*/

@media only screen and (max-width: 480px) {
    html {
        height: 100%;
        overflow: hidden;
    }
    body {
        margin: 0;
        height: 100%;
    }
    .todo {
        width: 100%;
        height: 100%;
    }
    #animales {
        height: 30%;
        width: 98%;
    }
    #habitat {
        width: 100%;
        height: 60%;
    }
    #col1 {
        width: 100%;
        height: 33%;
    }
    #h1 {
        border: 2px solid #FFF;
        display: inline-block;
        width: 100%;
        height: 50%;
    }
    .hab {
        display: inline-block;
        width: 48%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 2px solid #444;
    }
    .arrastrable {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .arrastrable:hover {
        border-radius: 25%;
        background: rgba(45, 82, 112, 0.5);
        border-top: 3px solid rgb(6, 46, 36);
        border-bottom: 3px solid rgb(6, 46, 36);
        background-size: cover;
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #menu {
        border-bottom: 2px solid #000;
        background: #037E8C;
        font-size: 1em;
        color: #FFF;
    }
    #tiempo,
    #atras,
    #puntos,
    #icono_menu {
        width: 22%;
        display: inline-block;
        text-align: center;
    }
    #menu img {
        width: 30px;
        height: 30px;
    }
    .fa {
        color: #FFF;
    }
    #relog {
        background: inherit;
        background-color: transparent;
    }
    .tit {
        padding: 1em 0;
        text-align: center;
    }
    #modpuntos,
    #modtiempo {
        width: 100%;
        text-align: center;
        padding: .6em 0;
        font-weight: bold;
    }
    #nuevo {
        margin-top: 2em;
        display: block;
        padding: 1em 0;
        width: 100%;
        background: rgb(7, 56, 63);
        color: #FFF;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    #nuevo:hover {
        background: rgb(9, 72, 82);
        color: orange;
        font: bold;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    html {
        height: 100%;
        overflow: hidden;
    }
    body {
        margin: 0;
        height: 100%;
    }
    .todo {
        width: 100%;
        height: 100%;
    }
    #animales {
        height: 30%;
        width: 98%;
    }
    #habitat {
        width: 100%;
        height: 60%;
    }
    #col1 {
        width: 100%;
        height: 33%;
    }
    #h1 {
        border: 2px solid #FFF;
        display: inline-block;
        width: 100%;
        height: 50%;
    }
    .hab {
        display: inline-block;
        width: 48%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 2px solid #444;
    }
    .arrastrable {
        position: relative;
        margin: 0 2.5em;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .arrastrable:hover {
        border-radius: 25%;
        background: rgba(45, 82, 112, 0.5);
        border-top: 3px solid rgb(6, 46, 36);
        border-bottom: 3px solid rgb(6, 46, 36);
        background-size: cover;
        background-size: 75%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #menu {
        border-bottom: 2px solid #000;
        background: #037E8C;
        font-size: 1em;
        color: #FFF;
    }
    #tiempo,
    #atras,
    #puntos,
    #icono_menu {
        width: 22%;
        display: inline-block;
        text-align: center;
    }

    i {
        color: #FFF;
    }

    .tit {
        padding: 1em 0;
        text-align: center;
    }
    #modpuntos,
    #modtiempo {
        width: 100%;
        text-align: center;
        padding: .6em 0;
        font-weight: bold;
    }
    #nuevo {
        margin-top: 2em;
        display: block;
        padding: 1em 0;
        width: 100%;
        background: rgb(7, 56, 63);
        color: #FFF;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    #nuevo:hover {
        background: rgb(9, 72, 82);
        color: orange;
        font: bold;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 768px) {
    html {
        max-width: 100%;
        height: 100%;
        overflow: hidden;
    }
    body {
        margin: 0;
        max-width: 100%;
        height: 100%;
    }
    .todo {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    #animales {
        height: 90%;
        width: 30%;
        display: inline-block;
    }
    #habitat {
        margin: 0;
        padding: 0;
        width: 68%;
        height: 90%;
        display: inline-block;
        padding-left: 10px;
    }
    #col1 {
        width: 30%;
        height: 100%;
        display: inline-block;
    }
    #animal {
        width: 100%;
        height: 24%;
    }
    div.desc {
        padding: 15px;
        text-align: center;
    }
    #h1 {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 100%;
        height: 50%;
    }
    .hab {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 48%;
        height: 97%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 2px solid #444;
    }
    .arrastrable {
        position: relative;
        width: 80px;
        height: 80px;
        background-size: cover;
        background-size: 70%;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 1em auto;
    }
    .arrastrable:hover {
        border-radius: 25%;
        background: rgba(45, 82, 112, 0.5);
        border-top: 3px solid rgb(6, 46, 36);
        border-bottom: 3px solid rgb(6, 46, 36);
        background-size: cover;
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #menu {
        border-bottom: 2px solid #000;
        background: #037E8C;
        font-size: 1em;
        color: #FFF;
    }
    #tiempo,
    #atras,
    #puntos,
    #icono_menu {
        width: 16%;
        display: inline-block;
        text-align: center;
    }
    #icono_menu {
        width: 40%;
        position: absolute;
        left: 450px;
    }
    i,
    #relog,
    #puntaje {
        color: #FFF;
        font-size: 1.5em;
        padding: .7em 0;
    }
    .tit {
        padding: 1em 0;
        text-align: center;
    }
    #modpuntos,
    #modtiempo {
        width: 100%;
        text-align: center;
        padding: .6em 0;
        font-weight: bold;
    }
    #nuevo {
        margin-top: 2em;
        display: block;
        padding: 1em 0;
        width: 100%;
        background: rgb(7, 56, 63);
        color: #FFF;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    #nuevo:hover {
        background: rgb(9, 72, 82);
        color: orange;
        font: bold;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 900px) {
    html {
        max-width: 100%;
        height: 100%;
        overflow: hidden;
    }
    body {
        margin: 0;
        max-width: 100%;
        height: 100%;
    }
    .todo {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    #animales {
        height: 90%;
        width: 30%;
        display: inline-block;
    }
    #habitat {
        margin: 0;
        padding: 0;
        width: 68%;
        height: 90%;
        display: inline-block;
        padding-left: 10px;
    }
    #col1 {
        width: 30%;
        height: 100%;
        display: inline-block;
    }
    #animal {
        width: 100%;
        height: 24%;
    }
    div.desc {
        padding: 15px;
        text-align: center;
    }
    #h1 {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 100%;
        height: 50%;
    }
    .hab {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 48%;
        height: 97%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 2px solid #444;
    }
    .arrastrable {
        position: relative;
        width: 80px;
        height: 80px;
        background-size: cover;
        background-size: 70%;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 1em auto;
    }
    .arrastrable:hover {
        border-radius: 25%;
        background: rgba(45, 82, 112, 0.5);
        border-top: 3px solid rgb(6, 46, 36);
        border-bottom: 3px solid rgb(6, 46, 36);
        background-size: cover;
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #menu {
        border-bottom: 2px solid #000;
        background: #037E8C;
        font-size: 1em;
        color: #FFF;
    }
    #tiempo,
    #atras,
    #puntos,
    #icono_menu {
        width: 16%;
        display: inline-block;
        text-align: center;
    }
    #icono_menu {
        width: 40%;
        position: absolute;
        left: 700px;
    }
    i,
    #relog,
    #puntaje {
        color: #FFF;
        font-size: 1.5em;
        padding: .7em 0;
    }
    .tit {
        padding: 1em 0;
        text-align: center;
    }
    #modpuntos,
    #modtiempo {
        width: 100%;
        text-align: center;
        padding: .6em 0;
        font-weight: bold;
    }
    #nuevo {
        margin-top: 2em;
        display: block;
        padding: 1em 0;
        width: 100%;
        background: rgb(7, 56, 63);
        color: #FFF;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    #nuevo:hover {
        background: rgb(9, 72, 82);
        color: orange;
        font: bold;
        text-transform: uppercase;
    }
}

/*MENU*/

/*---------------------------------------------------------------------------------*/

header nav {
    width: 100%;
    background: #024959;
}

.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: #FFF;
    padding: 0 1.7em;
    display: block;
    text-decoration: none;
    padding: .5em 2.1em;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    font-size: .8em;
}

header nav ul li a:hover {
    background: #037E8C;
}

@media screen and (max-width:768px) {
    header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    header nav ul li a {
        padding: 1em 0;
    }
    .menu_bar {
        display: block;
        width: 100%;
        background: #CCC;
    }
    .menu_bar .btn-menu {
        display: block;
        padding: 20px;
        background: #024959;
        color: #FFF;
        font-weight: bold;
        font-size: 25px;
        box-sizing: border-box;
    }
}

/*---------------------------------------------------------------------------------*/

/*INFORMACION MENU*/

/*---------------------------------------------------------------------------------*/

.info {
    width: 70%;
    margin: 0 auto;
}

.info li {
    padding: .5em 1em;
}